body {
  /*Sets the font of the text to the whole webpage.*/
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
/* Creates a separating black line. */
hr {
  width: 500px;
  height: 3px;
  background-color: black;
}
/*Creates a space for the tiles to be created in.*/
#board {
  width: 450px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
/*Stiels the tiles.*/
.tile {
  width: 147px;
  height: 147px;
  font-size: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/*Draws horizontal lines around the tiles*/
.horizontal-line {
  border-bottom: 3px solid black;
}
/*Draws vertical lines around the tiles.*/
.vertical-line {
  border-right: 3px solid black;
}
/*Style to be applied to the winner of the round*/
.winner {
  background-color: lightgrey;
  color: red;
}

